.box {
    border: solid 1px black;
    height: 42px;
    width: 42px;
    margin: 0;
    padding: 0;
}

.box:hover {
    background-color: aqua;
}

#grid {
    width: 705px;
    height: 705px;
    flex-wrap: wrap;
    display: flex;
    padding: 25px;
}